// Place all the styles related to the Ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input.title{
  box-sizing: border-box;
  color: #777;
  width: 100%;
  padding: 8px;
  font-size: 24px;
  -webkit-font-smoothing: antialiased;
  outline: none;
  box-shadow: none;
  border: 1px solid #ddd;
  line-height: 28px;
}
.material{
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-family: monospace;
  color: #555;
  position: relative;
}
.absolute{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
}
.times{
  font-size: 24px;
  color: #555;
  line-height: 26px;
  &.left{
    position: absolute;
    left: -8px;
    top: -14px;
  }
  &.right{
    position: absolute;
    left: -16px;
    top: -14px;
  }
}
.panel{
  position: relative;
  overflow: hidden;
  height: 50%;
  border: solid 1px #222;
}
.panel.a{
  background-color: rgb(0,71,179);
  background-color:whitesmoke;
  border-right: none;
  color: #888;
}

.panel.b{
  background-color: rgb(0,128,218);
  background-color: whitesmoke;
  border-right: none;
  border-left: none;
}

.panel.c{
  background-color: rgb(172,24,23);
  background-color: whitesmoke;
  border-left: none;
}
@media (min-width: 960px) {
  .panel{
    height: 100%;
  }
}

.markdown_content{
  display: inline-block;
  width: 50%;
  position: absolute;
  margin: 4px 0px;
  top: 0px;
  bottom: -4px;
  box-sizing: border-box;
  border: solid 1px #ddd;
  color: #555;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  padding: 8px;
}
.markdown textarea{
  left: 0px;
  resize: none;
  outline: none;
  border: solid 1px #ddd;
  box-sizing: border-box;
  color: #555;
  padding: 8px;
  font-size: 16px;
  line-height: 1.6;
}
.markdown{
  display: inline-block;
  width: 50%;
  position: absolute;
  margin: 4px 0px;
  top: 0px;
  bottom: -4px;
  left: 0px;
  -webkit-font-smoothing: antialiased;
}
.markdown_content{
  background-color: white;
  right: 1px;
  word-wrap: break-word;
  line-height: 24px;
}
.leftmenu{
  top: 0px;
  bottom: 0px;
  position: absolute;
  right: 0px;
  left: 0px;
  overflow: scroll;
  background-color: rgba(57,59,61,0.9);
  box-shadow: -5px 0px 4px rgba(0,0,0,0.3) inset;
  padding: 8px;
  .column{
    box-sizing: inherit;
  }
}
.button{
  height: auto !important;
  min-height: 36px;
  width: 100%;
  background-color: white;
  border: solid 1px #ddd;
  color: #888;
  cursor: pointer;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  display: block;
  margin-top: 4px;
  &:hover{
    color: #222;
  }
}
ul.frame{
  height: auto !important;
  width: 100%;
  background-color: white;
  border: solid 1px #ddd;
  color: #888;
  padding: 0px;
  list-style: none;
}
ul.frame li{
}
ul.frame li.head{
  padding: 8px;
  color: #333;
  background-color: #ddd;
  font-size: 12px;
  font-weight: bold;
}
ul.frame li a{
  text-decoration: none;
  display: block;
  padding: 8px;
  border-top: 1px solid #ddd;
  box-sizing: border-box;
  color: #555;
  font-size: 12px;
  width: 100%;
}
ul.frame li a:hover{
  color: darkorange;
}

#convert{
  *:first-child {
      margin-top: 0 !important;
  }
  h1, h2, h3, h4, h5, h6 {
      font-family: 'Helvetica Neue', Helvetica, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', メイリオ, Meiryo, sans-serif;
      font-weight: normal;
      line-height: 1.4;
      margin: 1.35em 0 .7em;
  }
  p {
      margin-bottom: 0;
      margin-top: 1.6em;
      font-size: 1em;
      word-wrap: break-word;
      margin: 10px 0;
  }
  h1 {
      border-bottom: 2px dashed #aaa;
      font-size: 16px;
      line-height: 1.2;
      margin-bottom: 12px;
      margin-top: 64px;
      padding: 8px;
      padding-left: 0px;
  }
  ul {
    line-height: 1.7;
    margin-bottom: 1em;
    margin-top: 1em;
    padding-left: 1.5em;
  }
  ul > li > ul{
    margin: 0;
  }
  a {
    color: #3c9a43;
    text-decoration: none;
    outline: none;
    &:hover {
      color: #1d5d23;
    }
  }
  h2 {
    font-size: 16px;
    font-weight: bold;
    color: #46a6c3;
    padding: 8px 18px;
    border: 1px solid #46a6c3;
    border-left: 9px solid #46a6c3;
    margin-top: 35px;
  }
  img {
    max-width: 100%;
  }

}